#favicon{
	margin-bottom: 0px;
	background-color: #add8e6;
}
.table{
	border: 3px solid #add8e6;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
	vertical-align: text-top;
}
.table td, .table tr{
	border: 1px solid #add8e6;	
}
.table .header{
	background-color: #add8e6;
}
.table .image{
	text-align: center;
	width: 300px;
}
.table .image img{
	max-width: 300px;
}
#stickyheader{
	position: sticky;
	top: 0;
	height: 50px;
	background-color: black;
	color: white;
}
body{
	margin-top: 50px;
	padding-top: 0;
	padding-right: 0;
}
@media (max-width: 943px) {
	#body, header, #bodywrapper{
		width: 100% !important;
	}
	#body{
		padding-left: 0px;padding-right: 0px;
	}
}
@media (min-width: 944px) {
	#body, #bodywrapper{
		width: calc(100% - 250px) !important;
	}
}
header{
	margin-top: 0;
	height: calc(100% - 50px);
	padding: 10px !important;
}
