<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <LINK REL="stylesheet" HREF="/style.css">
  <SCRIPT SRC="/controllers.json"></SCRIPT>
  <SCRIPT SRC="/api.js"></SCRIPT>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11846384-5"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-11846384-5');
      </script>
    <!-- end gtag -->
    
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
    <DIV ID="stickyheader">
        <A HREF="/" ID="iconwrapper"><IMG ID="favicon" SRC="/favicon.ico"></A> 
          <H1 CLASS="header">
            <A HREF="/" ID="titlewrapper">{{ site.title | default: site.github.repository_name }}</A>
          </H1>
        <INPUT TYPE="text" ID="search" PLACEHOLDER="Search" STYLE="display: none;">
        <a STYLE="float: right; margin-top: 13px; margin-right: 13px;" href="https://github.com/NeoTechni/neotechni.github.io/edit/main/{{page.path}}">Edit this page</a>
    </DIV>
  <body>
    <div class="wrapper" ID="bodywrapper">
      <header>
        <ul>
          <li><a href="/list">List</a></li>
          <li><a href="/misc">Misc</a></li>
          <li><a href="/nintendo">Nintendo</a></li>
          <li><a href="/pc">PC/Android/iOS</a></li>
          <li><a href="/playstation">PlayStation</a></li>
          <li><a href="/sega">SEGA</a></li>
          <li><a href="/systems">Systems</a></li>
          <li><a href="/xbox">XBOX</a></li>
        </ul>
        <P>
        <ul>
          <li><a href="/photos">As Seen on TV</a></li>
          <li><a href="/collectibles">Collectibles</a></li>
          <li><a href="/games">Compatible Games</a></li>
          <li><a href="/faq">FAQs</a></li>
          <li><a href="/gallery">Photo Gallery</a></li>
          <li><a href="/wanted">Wanted</a></li>
        </ul>
        <P>
        <ul>
          <li><a href="/cute">🎀 Cute Things</a></li>
          <li><a href="/movies">📽️ Movies/TV series</a></li>
          <li><a href="/other">⚙️ Other Gadgets</a></li>
        </ul>
      </header>

      <section ID="body">
        {{ content }}
      </section>
    </div>
    
    <div ID="modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2 ID="modalhead"></h2>
        </div>
        <div ID="modalbody" class="modal-body"></div>
      </div> 
    </DIV>
    <div id="snackbar"></div>
    
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
