<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <LINK REL="stylesheet" HREF="/style.css">
  <SCRIPT SRC="/controllers.json"></SCRIPT>
  <SCRIPT SRC="/api.js"></SCRIPT>
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
    <DIV ID="stickyheader">
        <A HREF="/" ID="iconwrapper"><IMG ID="favicon" SRC="/favicon.ico"></A> 
          <H1 CLASS="header">
            <A HREF="/" ID="titlewrapper">{{ site.title | default: site.github.repository_name }}</A>
          </H1>
        <INPUT TYPE="text" ID="search" PLACEHOLDER="Search" STYLE="display: none;">
    </DIV>
  <body>
    <div class="wrapper" ID="bodywrapper">
      <header>
        <ul>
          <li><a class="buttons" href="/list">List</a></li>
          <li><a class="buttons" href="/misc">Misc</a></li>
          <li><a class="buttons" href="/nintendo">Nintendo</a></li>
          <li><a class="buttons" href="/pc">PC/Android/iOS</a></li>
          <li><a class="buttons" href="/playstation">PlayStation</a></li>
          <li><a class="buttons" href="/sega">SEGA</a></li>
          <li><a class="buttons" href="/systems">Systems</a></li>
          <li><a class="buttons" href="/xbox">XBOX</a></li>
        </ul>
        
        <footer>
           <a href="https://github.com/NeoTechni/neotechni.github.io/edit/main/{{page.path}}">Edit this page</a>
        </footer>
      </header>

      <section ID="body">
        {{ content }}
      </section>
    </div>
    
    <div ID="modal" class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2 ID="modalhead"></h2>
      </div>
      <div ID="modalbody" class="modal-body"></div>
    </div> 
    
    <div id="snackbar"></div>
    
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
